.vertical-timeline-element--work{
    cursor: pointer;
}


.vertical-timeline span {
    color: white;
    font-family: 'Courier Prime', monospace;
}

.vertical-timeline p {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element p {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element h3 {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element h4 {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element span {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element .vertical-timeline-element-date {
    color: white;
}

.vertical-timeline-element-subtitle{
    font-size: small;
}
.svg-inline--fa {
    color: white;
}
// .vertical-timeline-element-read-more-badge {
//     display: inline-block;
//     margin-top: 10px;
//     padding: 5px 10px;
//     background-color: #0070f3;
//     color: white;
//     border-radius: 4px;
//     font-size: 0.9rem;
//     cursor: pointer;
//     transition: background-color 0.3s ease;
// }
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it stays above the timeline nodes */
  padding: 1rem;
}

/* Modal Window Layout */
.modal-content {
  background: #fff;
  width: 100%;
  max-width: 700px;
  max-height: 85vh;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  animation: fadeIn 0.2s ease-out;
}

.modal-header {
  padding: 1.25rem;
  //border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.modal-header h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #000;
}

.modal-subtitle {
  padding-left: 1.25rem;
  margin: 0;
  color: #666;
  font-size: 0.9rem;
  display: block;
}
.underline-list {
  list-style:square;
  padding: 0;
  //margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
}

.underline-list-item {
  //padding: 1.25rem 0.5rem;
  //border-bottom: 1px solid #e2e8f0;
  font-size: 0.9rem;
  //line-height: 1.6;
  color: #000;
}

.underline-list-item:last-child {
  border-bottom: none; /* Safely kills final divider line */
}
.close-btn {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #888;
  line-height: 1;
}

.close-btn:hover {
  color: #000;
}

/* Enable independent scrolling inside long articles */
.modal-body {
  padding: 1.5rem;
  overflow-y: auto;
  font-size: 1.05rem;
  line-height: 1.75;
}

@media screen and (max-width: 1170px) {
    .vertical-timeline-element .vertical-timeline-element-date {
        color: rgb(39, 40, 34);
    }
    .modal-content {
    max-height: 95vh; /* Take up more space on tiny screens */
  }
  .modal-header h2 {
    font-size: 1.2rem;
  }
}
